* {
  bg0: #000000CC;
  bg1: #1F1F1F;
  fg0: #FFFFFF;
  fg1: #8F8F8F;

  red: #00acc1;
  red-trans: #00acc133;
  green: #00acc1;
  green-trans: #00acc133;
  yellow: #00acc1;
  yellow-trans: #00acc133;
  blue: #00acc1;
  blue-trans: #00acc133;
  purple: #00acc1;
  purple-trans: #00acc133;
  aqua: #00acc1;
  aqua-trans: #00acc133;
}
