* {
  bg0: #1e1e2eCC;
  bg1: #1F1F1F;
  fg0: #cdd6f4;
  fg1: #6c7086;

  red: #f5c2e7;
  red-trans: #f5c2e733;
  green: #f5c2e7;
  green-trans: #f5c2e733;
  yellow: #f5c2e7;
  yellow-trans: #f5c2e733;
  blue: #f5c2e7;
  blue-trans: #f5c2e733;
  purple: #f5c2e7;
  purple-trans: #f5c2e733;
  aqua: #f5c2e7;
  aqua-trans: #f5c2e733;
}
