* {
  bg0: #24283bCC;
  bg1: #1F1F1F;
  fg0: #c0caf5;
  fg1: #565f89;

  red: #7aa2f7;
  red-trans: #7aa2f733;
  green: #7aa2f7;
  green-trans: #7aa2f733;
  yellow: #7aa2f7;
  yellow-trans: #7aa2f733;
  blue: #7aa2f7;
  blue-trans: #7aa2f733;
  purple: #7aa2f7;
  purple-trans: #7aa2f733;
  aqua: #7aa2f7;
  aqua-trans: #7aa2f733;
}
